body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin-top: 20px;
}

#list {
  list-style: none;
  width: 600px;
}

#list li {
  padding: 10px;
}

li span {
  padding: 5px;
}

li .yellow {
  background-color: rgb(251, 221, 152);
}

li .red {
  background-color: rgb(251, 152, 152);
}
